@model Biblioteca.Models.Livro

@{
    ViewData["Title"] = "Detalhes";
    ViewBag.Menu = "Livro";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-gray">
                <div class="card-header">
                    <h3 class="card-title">@Model.Nome</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="~/images/Livros/@Model.Imagem" height="300" width="200" style="margin-bottom:10px" />
                        </div>
                        <div class="offset-md-3 col-md-6" style="margin-top:-30%">
                            <dl>
                                <dt>
                                    Nome
                                </dt>
                                <dd>
                                    @Model.Nome
                                </dd>
                                <dt>
                                    Autor
                                </dt>
                                <dd>
                                    @Model.Autor
                                </dd>
                                <dt>
                                    Edição
                                </dt>
                                <dd>
                                    @Model.Edicao
                                </dd>
                                <dt>
                                    Quantidade
                                </dt>
                                <dd>
                                    @Model.Quantidade
                                </dd>
                                <dt>
                                    Categoria
                                </dt>
                                <dd>
                                    @Model.Categoria
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <form asp-controller="Livro" asp-action="Delete" asp-route-id="@Model.Id">
                        <input type="submit" value="Deletar" class="btn btn-danger" />
                        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

