@model Biblioteca.Models.Livro

@{
    ViewData["Title"] = "Detalhes";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-gray">
                <div class="card-header">
                    <h3 class="card-title">@Model.Titulo</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="~/images/Livros/@Model.Imagem" height="300" width="200" style="margin-bottom:10px" />
                            <dl>
                                <dt>
                                    Autor
                                </dt>
                                <dd>
                                    @Model.Autor
                                </dd>
                                <dt>
                                    Editora
                                </dt>
                                <dd>
                                    @Model.Editora
                                </dd>
                                <dt>
                                    Estoque
                                </dt>
                                <dd>
                                    @Model.Estoque / @Model.Unidade
                                </dd>
                                <dt>
                                    Gênero
                                </dt>
                                <dd>
                                    @Model.Genero
                                </dd>
                            </dl>
                        </div>
                        <div class="offset-md-3 col-md-7" style="margin-top:-540px">
                            <dl>
                                <dt>
                                    Titulo
                                </dt>
                                <dd>
                                    @Model.Titulo
                                </dd>
                                <dt>
                                    Sinopse
                                </dt>
                                <dd class="text-justify">
                                    @Model.Sinopse
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <a asp-action="Index" class="btn btn-dark" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#conteudo">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</section>