@model IEnumerable<Biblioteca.Models.Livro>

@{
    ViewData["Title"] = "Lista de Livros";
}
<section class="content">
    <p>
        <a asp-controller="Livro" asp-action="Cadastrar" class="btn btn-warning" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#conteudo"><i class="fas fa-plus"></i> Cadastrar Livro</a>
    </p>
    <div class="card card-gray-dark">
        <div class="card-header">
            <h3 class="card-title">Livros</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <table id="datatable" class="table text-center table-striped dataTable">
                <thead>
                    <tr>
                        <th>
                            Imagem
                        </th>
                        <th>
                            Título
                        </th>
                        <th>
                            Autor
                        </th>
                        <th>
                            Editora
                        </th>
                        <th>
                            Estoque
                        </th>
                        <th>
                            Gênero
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="~/images/Livros/@item.Imagem" class="img-size-64" alt="@item.Imagem">
                            </td>
                            <td>
                                @item.Titulo
                            </td>
                            <td>
                                @item.Autor
                            </td>
                            <td>
                                @item.Editora
                            </td>
                            <td>
                                @item.Estoque / @item.Unidade
                            </td>
                            <td>
                                @item.Genero
                            </td>
                            <td class="project-actions col-md-2 text-right">
                                <a class="btn btn-primary btn-sm" title="Visualizar" asp-controller="Livro" asp-action="Detalhes" asp-route-id="@item.Id" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#conteudo">
                                    <i class="fas fa-eye">
                                    </i>
                                </a>
                                <a class="btn btn-warning btn-sm" title="Estoque" asp-controller="Livro" asp-action="Estoque" asp-route-id="@item.Id" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#conteudo">
                                    <i class="fas fa-archive">
                                    </i>
                                </a>
                                <a class="btn btn-info btn-sm" title="Editar" asp-controller="Livro" asp-action="Editar" asp-route-id="@item.Id" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#conteudo">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                </a>
                                <a class="btn btn-danger btn-sm" title="Deletar" asp-controller="Livro" asp-action="Deletar" asp-route-id="@item.Id" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#conteudo">
                                    <i class="fas fa-trash">
                                    </i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>